/.vs
/.vscode
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp.csproj
/EmojiUIlLabel.sln
/Library
/Logs
/obj
/Packages
/ProjectSettings
/Temp
/Unity.CollabProxy.Editor.csproj
/Unity.Rider.Editor.csproj
/Unity.TextMeshPro.csproj
/Unity.TextMeshPro.Editor.csproj
/Unity.Timeline.csproj
/Unity.Timeline.Editor.csproj
/Unity.VSCode.Editor.csproj
/UnityEditor.TestRunner.csproj
/UnityEditor.UI.csproj
/UnityEngine.TestRunner.csproj
/UnityEngine.UI.csproj